{%extends 'base.html'%}
{%block body_block%}
{%load static%}

    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"><h1 class="text-center">Employee Details</h1></div>
        <div class="col-4">
            {%if messages%}
                {%for msg in messages%}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{msg}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

            {%endfor%}
        {%endif%}
    </div>
</div>
<div class="container">
    <form action="" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                 <div class="row">
            <div class="col-4 mt-">
                <img src="{%static 'assets/pg.png'%}" class="card-img-top" alt="">
                <input type="file" name="image" id="id_image" class="mt-2">
            </div>
            <div class="col-4 mt-5">
                <input type="text" name="employee_name" id="id_employee_name" placeholder="Employee Name" class="form-control mt-3">
                <input type="email" name="email" id="id_email" placeholder="email" class="form-control mt-3">
                <input type="password" name="password" id="id_password"  placeholder="password" class="form-control mt-3">
                <div class="mt-3">
                    <button type="submit" class="btn btn-secondary">submit</button>
                    <a href="{%url 'emp-list'%}">lists</a>
                </div>
            </div>
            <div class="col-4 mt-5">
                <input type="number" name="phone" id="id_phone" placeholder="phone" class="form-control mt-3">
                <input type="text" name="address" id="id_address" placeholder="address" class="form-control mt-3">
            </div>
        </div>
            </div>
            <div class="col-2"></div>
        </div>


    </form>


</div>

<!--<form action="" method="post" enctype="multipart/form-data">-->
<!--    {%csrf_token%}-->
<!--    {{form.as_p}}-->
<!--    <button type="submit">create</button>-->
<!--</form>-->



{%endblock%}






