{%extends 'base.html'%}
{%block body_block%}


<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">PHONE</th>
        <th scope="col">ADDRESS</th>
        <th scope="col">ACTIONS</th>
    </tr>
    </thead>

    {%for emp in employee%}
    <tbody>

    <tr>

        <td>{{emp.id}}</td>
        <td>{{emp.employee_name}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.phone}}</td>
        <td>{{emp.address}}</td>
        <td>
            <a href="{%url 'emp-view' emp.id %}">view</a>
            <a href="{%url 'emp-edit' emp.id%}">edit</a>
            <a href="{%url 'emp-remove' emp.id%}">delete</a>
        </td>
    </tr>

    </tbody>
    {%endfor%}
</table>


{%endblock%}
